<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
		<title>MVC With Cats!</title>
		<link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="assets/css/burger_style.css">
	
	</head>
	<body>
		{{{ body }}}
	</body>

</html>
<script>
	$( document ).ready(function() {
    
    $(".devour").on("click", function(event) {
      var id = $(this).data("id");
      // Send the PUT request.
      $.ajax("/api/burgers/" + id, {
        type: "PUT"
      }).then(
        function() {
          location.reload();
        }
      );
    });
  
    $("#addBurger").on("click", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      var newBurger = {
        burger_name: $("#textbox").val().trim(),
      };
  
      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function() {
          console.log("created new Burger");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
});

</script>